body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-multi-carousel-dot-list.custom-dot-list-style {
  display: none;
}

.react-multiple-carousel__arrow {
  background: #e21f36 !important;
}

.modal-body .nav-link {
  color: #e21f36 !important;
  font-weight: 500;
}